/* --------------------------------------------------------
Vishwas Navada's Resume 
version: 0.1
license: MIT
author: Vishwasa Navada K
email: hi@vishwas.tech
website: https://vishwas.tech
----------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700,900&display=swap");
html {
  font-size: 14px;
  font-family: "Titillium Web", sans-serif;
}
hr {
  border: none;
  page-break-after: always;
}
