/* --------------------------------------------------------
Vishwas Navada's Resume 
version: 0.1
license: MIT
author: Vishwasa Navada K
email: hi@vishwas.tech
website: https://vishwas.tech
----------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700,900&display=swap");
html {
  font-size: 14px;
  font-family: "Titillium Web", sans-serif;
}
body {
  margin: 10px;
  background: #e2e1e0;
  display: flex;
  align-content: center;
  justify-content: center;
  color: #111111;
}

h1 {
  text-transform: uppercase;
  font-size: 2.4rem;
  color: #000000;
  text-align: center;
}
h2 {
  font-size: 1.5rem;
  width: 60%;
  text-transform: uppercase;
  margin: 2.5rem 5px 0.5rem 5px;
  padding-bottom: 10px;
  border-bottom: 1px solid #c2c1bf;
}
h3 {
  width: 100%;
  margin: 5px;
  font-size: 1.4rem;
  display: inline-block;
}
h3 > code {
  font-family: inherit;
  float: right;
}
h4 {
  margin: 5px;
  font-size: 1.3rem;
}
h5 {
  margin: 5px;
  font-size: 1.2rem;
}
h6 {
  margin: 5px;
  font-size: 1.1rem;
}
p {
  font-size: 1rem;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
hr {
  border: none;
  page-break-after: always;
}
blockquote {
  margin: 25px 10px;
}
blockquote p {
  font-size: 1.1rem;
}
ul {
  list-style: none;
  padding: 0;
}
ul li:before {
  content: "\f058";
  font-family: FontAwesome;
  display: inline-block;
  margin: 0.3rem 0.5rem;
}
h4:before {
  content: "\f126";
  font-family: FontAwesome;
  font-weight: bold;
  display: inline-block;
  margin: 0.3rem 0.5rem;
}
.resume {
  padding: 20px 50px;
  background: white;
  max-width: 800px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.contact {
  text-align: center;
  line-height: 1.5rem;
}
.contact span {
  margin: 2px 5px;
}
.contact i {
  margin: 5px;
}
@media print {
  .resume {
    box-shadow: none;
  }
}
